@font-face {
    font-family: myFont;
    src: url('../fonts/yekan.ttf');
}
@font-face {
    font-family: times;
    src: url('../fonts/times.ttf');
}
body{
    font-family: myFont,times;
}
.full {
    background: url('../img/login.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: myFont,Helvetica,Georgia;
}

footer {
    display: block;
    bottom: 0;
    margin: 50px 0;
}
